* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #1e1e1e;
  color: #ffffff;
}

h2 {
  margin-top: 1rem;
}

.container-fluid {
  display: flex;
  height: 100vh;
  padding: 0;
}

aside {
  width: 220px;
  background-color: #2b2b2b;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  height: 100vh;
  overflow-y: auto;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

#canvas {
  flex-grow: 1;
  background-color: #ffffff;
  position: relative;
  overflow: auto;
  outline: none;
  height: 100vh;
}

.draggable {
  position: absolute;
  cursor: move;
  user-select: none;
  padding: 0.2rem;
  background-color: transparent;
  color: #1e1e1e;
  z-index: 10;
}

.selected {
  outline: 2px dashed blue;
  outline-offset: 2px;
}

.draggable .btn {
  cursor: pointer;
  user-select: none;
}

.draggable .card {
  cursor: move;
  user-select: none;
  width: 250px;
}

.draggable .progress {
  cursor: move;
  user-select: none;
  width: 150px;
}

.draggable .badge {
  cursor: move;
  user-select: none;
  font-size: 1rem;
  padding: 0.3em 0.7em;
}

.delete-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.button-group .btn {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: background-color 0.2s, color 0.2s;
}

.button-group .btn:active,
.button-group .btn:focus {
  background-color: #ffffff;
  color: #1e1e1e;
  border-color: #ffffff;
  outline: none;
  box-shadow: none;
}

.delete-buttons .btn {
  background-color: #ba0000;
  color: #ffffff;
  border: none;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.delete-buttons .btn:active,
.delete-buttons .btn:focus {
  background-color: #ffffff;
  color: #ba0000;
  border: 1px solid #ba0000;
  outline: none;
  box-shadow: none;
}

.separator {
  border: none;
  border-top: 1px solid #777;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  width: 100%;
}
